{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "http",
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "Vehicle Tracker API provides necessary methods and means to\ntrack ground and water vehicles positions.",
    "title": "Vehicle Tracker API",
    "termsOfService": "https://api.vehicles.neu.edu.tr/"
  },
  "host": "api.vehicles.neu.edu.tr",
  "basePath": "/",
  "paths": {
    "/agent/": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "List all the agents.",
        "operationId": "GetAllAgents",
        "responses": {
          "200": {
            "$ref": "#/responses/AgentSuccessAgentsResponse"
          },
          "default": {
            "$ref": "#/responses/ErrorMsg"
          }
        }
      }
    },
    "/agent/{uuid}/sync": {
      "post": {
        "tags": [
          "Agents"
        ],
        "summary": "Send GPS data from agent.",
        "operationId": "SyncAgent",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "UUID",
            "description": "UUID is an unique identifier across agents",
            "name": "uuid",
            "in": "path",
            "required": true
          },
          {
            "description": "Data represents the x,y location of the agent at ts time.",
            "name": "Data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GPSData"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/AgentEmptyResponse"
          },
          "default": {
            "$ref": "#/responses/ErrorMsg"
          }
        }
      }
    },
    "/vehicle/": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get all vehicles in the database.",
        "operationId": "GetAllVehicles",
        "responses": {
          "200": {
            "$ref": "#/responses/VehicleSuccessVehiclesResponse"
          },
          "default": {
            "$ref": "#/responses/ErrorMsg"
          }
        }
      },
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Create a new vehicle record.",
        "operationId": "CreateNewVehicle",
        "parameters": [
          {
            "description": "Ident represents the identity definition of the  Vehicle",
            "name": "Ident",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "plate_id",
                "type"
              ],
              "properties": {
                "agent_id": {
                  "description": "AgentID",
                  "type": "string",
                  "x-go-name": "AgentID"
                },
                "groups": {
                  "description": "Groups",
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "x-go-name": "Groups"
                },
                "plate_id": {
                  "description": "PlateID",
                  "type": "string",
                  "x-go-name": "PlateID"
                },
                "type": {
                  "description": "Type",
                  "type": "string",
                  "x-go-name": "Type"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/VehicleSuccessVehicleResponse"
          },
          "default": {
            "$ref": "#/responses/ErrorMsg"
          }
        }
      }
    },
    "/vehicle/group/": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get all vehicle groups in the database.",
        "operationId": "GetAllGroups",
        "responses": {
          "200": {
            "$ref": "#/responses/VehicleSuccessVehicleGroupsResponse"
          },
          "default": {
            "$ref": "#/responses/ErrorMsg"
          }
        }
      },
      "post": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Create a new vehicle group.",
        "operationId": "CreateNewGroup",
        "parameters": [
          {
            "name": "Ident",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "description": "Name",
                  "type": "string",
                  "x-go-name": "Name"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/VehicleSuccessVehicleGroupResponse"
          },
          "default": {
            "$ref": "#/responses/ErrorMsg"
          }
        }
      }
    },
    "/vehicle/{plate_id}": {
      "get": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Get a vehicle from database.",
        "operationId": "GetVehicle",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "PlateID",
            "description": "PlateID is a unique identifier across the vehicles",
            "name": "plate_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/VehicleSuccessVehicleResponse"
          },
          "default": {
            "$ref": "#/responses/ErrorMsg"
          }
        }
      },
      "delete": {
        "tags": [
          "Vehicles"
        ],
        "summary": "Delete a vehicle.",
        "operationId": "DeleteVehicle",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "PlateID",
            "description": "PlateID is an unique identifier across vehicles",
            "name": "plate_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/VehicleSuccessVehicleResponse"
          },
          "default": {
            "$ref": "#/responses/ErrorMsg"
          }
        }
      }
    }
  },
  "definitions": {
    "Agent": {
      "type": "object",
      "properties": {
        "gps_ts": {
          "type": "string",
          "x-go-name": "TS"
        },
        "label": {
          "type": "string",
          "x-go-name": "Label"
        },
        "lat": {
          "type": "string",
          "x-go-name": "Lat"
        },
        "lon": {
          "type": "string",
          "x-go-name": "Lon"
        },
        "updated_at": {
          "x-go-name": "UpdatedAt"
        },
        "uuid": {
          "type": "string",
          "x-go-name": "UUID"
        }
      },
      "x-go-package": "github.com/cad/vehicle-tracker-api/repository"
    },
    "GPSData": {
      "type": "object",
      "properties": {
        "lat": {
          "type": "string",
          "x-go-name": "Lat"
        },
        "lon": {
          "type": "string",
          "x-go-name": "Lon"
        },
        "ts": {
          "type": "string",
          "x-go-name": "TS"
        }
      },
      "x-go-package": "github.com/cad/vehicle-tracker-api/endpoints"
    },
    "GenericError": {
      "type": "object",
      "required": [
        "message"
      ],
      "properties": {
        "message": {
          "description": "Error Message",
          "type": "string",
          "x-go-name": "Message"
        }
      },
      "x-go-package": "github.com/cad/vehicle-tracker-api/endpoints"
    },
    "Group": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "uint64",
          "x-go-name": "ID"
        },
        "name": {
          "type": "string",
          "x-go-name": "Name"
        }
      },
      "x-go-package": "github.com/cad/vehicle-tracker-api/repository"
    },
    "Vehicle": {
      "type": "object",
      "properties": {
        "agent": {
          "$ref": "#/definitions/Agent"
        },
        "groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Group"
          },
          "x-go-name": "Groups"
        },
        "plate_id": {
          "type": "string",
          "x-go-name": "PlateID"
        },
        "type": {
          "type": "string",
          "x-go-name": "Type"
        },
        "updated_at": {
          "x-go-name": "UpdatedAt"
        }
      },
      "x-go-package": "github.com/cad/vehicle-tracker-api/repository"
    }
  },
  "responses": {
    "AgentSuccessAgentResponse": {
      "description": "Returns an agent",
      "schema": {
        "$ref": "#/definitions/Agent"
      }
    },
    "AgentSuccessAgentsResponse": {
      "description": "Returns list of agents",
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/Agent"
        }
      }
    },
    "AgentSuccessEmptyResponse": {
      "description": "Returns empty object"
    },
    "ErrorMsg": {
      "description": "Generic Error",
      "schema": {
        "$ref": "#/definitions/GenericError"
      }
    },
    "VehicleGroupsResponse": {
      "description": "VehicleGroupResponse",
      "schema": {
        "type": "object",
        "properties": {
          "group": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/Group"
            },
            "x-go-name": "Groups"
          }
        }
      }
    },
    "VehicleResponse": {
      "description": "VehicleResponse",
      "schema": {
        "type": "object",
        "properties": {
          "vehicle": {
            "$ref": "#/definitions/Vehicle"
          }
        }
      }
    },
    "VehicleSuccessVehicleGroupResponse": {
      "description": "Returns a vehicle group",
      "schema": {
        "$ref": "#/definitions/Group"
      }
    },
    "VehicleSuccessVehicleGroupsResponse": {
      "description": "Returns list of vehicle groups",
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/Group"
        }
      }
    },
    "VehicleSuccessVehicleResponse": {
      "description": "Returns a vehicle",
      "schema": {
        "$ref": "#/definitions/Vehicle"
      }
    },
    "VehicleSuccessVehiclesResponse": {
      "description": "Returns list of vehicles",
      "schema": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/Vehicle"
        }
      }
    }
  }
}